.poster {
  margin-bottom: 20px;
  background-color: #1d1d1d !important;
}

.thumbs {
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
  color: #e1e1e1;
}

.thumbs-up:hover {
  color: green;
}

.thumbs-down:hover {
  color: red;
}
